.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
CaAirBasin.dbf
CaAirBasin.prj
CaAirBasin.sbn
CaAirBasin.sbx
CaAirBasin.shp
CaAirBasin.shp.xml
CaAirBasin.shx
Geostatistics.Rproj
Screen Shot 2018-10-30 at 8.41.26 PM.png
Screen Shot 2018-10-30 at 8.42.08 PM.png
Screen Shot 2018-10-30 at 8.42.21 PM.png
Screen Shot 2018-10-30 at 8.42.36 PM.png
Screen Shot 2018-10-30 at 8.42.59 PM.png
Screen Shot 2018-10-30 at 8.43.16 PM.png
airmonitoringstations.dbf
airmonitoringstations.prj
airmonitoringstations.shp
airmonitoringstations.shp.xml
airmonitoringstations.shx
